{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Candal|Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Muli:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/groway.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/growayicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c898819835.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function (){
            $('.navscroll').addClass("mate");
            $('.links').addClass("mate");
            $('.login').addClass("mate");
        });
    </script>
    <script type="text/javascript">
        $(function() {
            var links = $(".links");
            links.click(function() {
                links.removeClass("active");
                $(this).addClass("active");
            });
            var btn = $(".login");
            btn.click(function() {
                btn.removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    <title>Groway - Software Contable, Facturación, Crecimiento</title>
</head>
<body>
    <div class="nuevo_usuario_fondo">
        <div class="formulario_nuevo_usuario">
            <form method="post" action="{% url 'login' %}">
                <div class="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <div class="form-content-nuevo-usuario">
                    <div class="titulo_nuevo_usuario">
                        <div class="logo-groway-newuser">
                            <img src="{% static 'img/growaylogoversion2.png' %}"alt="Groway" width="230" height="120">
                        </div>
                        <div class="mensajes-newuser" style="margin-left: 110px;">
                            <h3>¡La contraseña ha sido cambiada!</h3>
                        </div>
                    </div>
                    <div class="no_tiene_cuenta">
                        <p>Ingresa a tu cuenta. <a href="{% url 'login' %}">INGRESAR</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
