{% extends 'groway/clientes.html' %}
{% load static %}
{% block content %}
	<div class="form-header">
		<h2>{{contacto.nombre_legal}}</h2>
	</div>
	<div class="form-body">
		<div class="acciones-objeto row">
			<a class="acciones accion-eliminar">Eliminar</a>
			<a class="acciones accion-editar">Editar</a>
		</div>
		<div class="form-content-detalle-contacto">
			<div class="datos-identificacion-contacto-detalle">
				<h4><strong>Información Básica</strong></h4>
				<div class="datos-idcontac-detalle naturaleza">
					<label for="naturaleza">Naturaleza</label>
					<div class="info-detalle" id="naturaleza">
						{{contacto.naturaleza}}
					</div>
				</div>
				<div class="datos-idcontac-detalle identificacion">
					<label for="identificacion">Identificación</label>
					<div class="info-detalle" id="identificacion">
						{{contacto.identificacion}}
					</div>
				</div>
				<div class="datos-idcontac-detalle numero_identificacion">
					<label for="numero_identificacion">Número</label>
					<div class="info-detalle" id="numero_identificacion">
						{{contacto.numero_identificacion}} {% if contacto.numero_id_adicional %} - {{contacto.numero_id_adicional}} {% endif %}
					</div>
				</div>
				<div class="datos-idcontac-detalle nombre_legal">
					<label for="nombre_legal">Nombre Legal</label>
					<div class="info-detalle" id="nombre_legal">
						{{contacto.nombre_legal}}
					</div>
				</div>
			</div>
			<div class="datos-generales-contacto-detalle">
				<div class="datos-gnlescontac-detalle consumidor_final">
					{{contacto.consumidor_final}}
					<label for="consumidor_final"> | Es Consumidor Final / Liquidar Impuesto Nacional al Consumo</label>
				</div>
			</div>
			<div class="responsabilidades-fiscales-detalle">
				<h4><strong>Responsabilidades Fiscales</strong></h4>
				<div class="resp-fiscales-detalle regimen_tributario">
					<label for="regimen_tributario">Régimen Tributario</label>
					<div class="info-detalle" id="regimen_tributario">
						{{contacto.regimen_tributario}}
					</div>
				</div>
				<div class="resp-fiscales-detalle responsable_iva">
					<label for="responsable_iva">Responsable de IVA</label>
					<div class="info-detalle" id="responsable_iva">
						{{contacto.responsable_iva}}
					</div>
				</div>
				<div class="resp-fiscales-detalle gran_contribuyente">
					{{contacto.gran_contribuyente}}
					<label for="gran_contribuyente"> | Gran Contribuyente</label>
				</div>
				<div class="resp-fiscales-detalle ventas_liquidar_reteiva_responsable_iva_regimen_comun">
					{{contacto.ventas_liquidar_reteiva_responsable_iva_regimen_comun}}
					<label for="ventas_liquidar_reteiva_responsable_iva_regimen_comun"> | En ventas Liquidar Reteiva a Resp. de IVA Registrados en el Régimen Común</label>
				</div>
				<div class="resp-fiscales-detalle ventas_liquidar_reteiva_responsable_iva_regimen_simple">
					{{contacto.ventas_liquidar_reteiva_responsable_iva_regimen_simple}}
					<label for="ventas_liquidar_reteiva_responsable_iva_regimen_simple"> | En Ventas Liquidar Reteiva a Resp. de IVA Registrados en el Régimen Simple</label>
				</div>
				<div class="resp-fiscales-detalle ventas_liquidar_reterenta">
					{{contacto.ventas_liquidar_reterenta}}
					<label for="ventas_liquidar_reterenta"> | En Ventas Liquidar Retencion en la Fuente por Renta</label>
				</div>
				<div class="resp-fiscales-detalle ventas_liquidar_reteica">
					{{contacto.ventas_liquidar_reteica}}
					<label for="ventas_liquidar_reteica"> | En Ventas Liquidar retencion en la Fuente por ICA</label>
				</div>
			</div>
			<div class="informacion-contacto-detalle">
				<h4><strong>Información de Contacto</strong></h4>
				<div class="info-contac-detalle direccion">
					<label for="direccion">Dirección</label>
					<div id="direccion">
						<div class="ubicacion">
							{{contacto.direccion}}
						</div>
						<div class="ubicacion">
							{{contacto.ciudad}}
						</div>
						<div class="ubicacion">
							{{contacto.departamento}}
						</div>
						<div class="ubicacion">
							{{contacto.pais}}
						</div>
					<label for="codigo_pais"></label>
				</div>
			</div>
			<div class="codigo-telefono-email-detalle">
				<div class="info-contac-detalle cod_postal">
					<label for="cod_postal">Código Postal</label>
					<div class="info-detalle" id="cod_postal">
						{{contacto.cod_postal}}
					</div>
				</div>
				<div class="info-contac-detalle telefono">
					<label for="telefono">Teléfono</label>
					<div class="info-detalle" id="telefono">
						{{contacto.telefono}}
					</div>
				</div>
				<div class="info-contac-detalle email">
					<label for="email">E-mail</label>
					<div class="info-detalle" id="email">
						{{contacto.email}}
					</div>
				</div>
			</div>
			<div class="personas-contacto-detalle">
				<div class="info-contac-detalle perona-contacto">
					<label for="perona-contacto">Persona Contacto (Admon)</label>
					<div class="info-detalle" id="perona-contacto">
						{{contacto.persona_contacto}}
					</div>
				</div>
				<div class="info-contac-detalle telefono_dos">
					<label for="telefono_dos">Teléfono Contacto</label>
					<div class="info-detalle" id="telefono_dos">
						{{contacto.telefono_dos}}
					</div>
				</div>
				<div class="info-contac-detalle persona_contacto_adicional">
					<label for="persona_contacto_adicional">Persona Contacto (Ventas)</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.persona_contacto_adicional}}
					</div>
				</div>
			</div>
			<div class="info-bancaria-detalle">
				<div class="info-contac-detalle numero_cuenta">
					<label for="persona_contacto_adicional">Número de Cuenta</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.numero_cuenta}}
					</div>
				</div>
				<div class="info-contac-detalle tipo_cuenta">
					<label for="persona_contacto_adicional">Tipo de Cuenta</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.tipo_cuenta}}
					</div>
				</div>
				<div class="info-contac-detalle entidad_financiera">
					<label for="persona_contacto_adicional">Entidad Financiera</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.entidad_financiera}}
					</div>
				</div>
			</div>
			<div class="medio-termino-pago-cliente">
				<div class="info-contac-detalle terminos_de_pago">
					<label for="persona_contacto_adicional">Término de Pago para el Cliente</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.terminos_de_pago}}
					</div>
				</div>
				<div class="info-contac-detalle medio_de_pago">
					<label for="persona_contacto_adicional">Medio de Pago para el Cliente</label>
					<div class="info-detalle" id="persona_contacto_adicional">
						{{contacto.medio_de_pago}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mensaje-confirmacion-edicion">
		<h2><span class="glyphicon glyphicon-alert"></span> Cambios Dinámicos</h2>
		<p>Los cambios realizados se reflejarán en todos los documentos vinculados a este <strong>Contacto.</strong><br>
		¿Deseas Editarlo de todos modos?</p>
		<dir class="row botones-mensaje-edicion">
			<div class="respuesta-si">
				<a class="respuesta-si" href="{% url 'editar_contacto' pk=contacto.pk %}">Si</a>
			</div>
			<div class="respuesta-no">
				<a class="respuesta-no">No</a>
			</div>
		</dir>
	</div>
	<div class="mensaje-confirmacion-eliminacion">
		<h2><span class="glyphicon glyphicon-alert"></span> Eliminar</h2>
		<p>El elemento se eliminará de manera definitiva.<br>
		¿Seguro que deseas Eliminar este <strong>Contacto</strong>?</p>
		<dir class="row botones-mensaje-eliminacion">
			<div class="respuesta-si">
				<a class="respuesta-si" href="{% url 'eliminar_contacto' pk=contacto.pk %}">Si</a>
			</div>
			<div class="respuesta-no">
				<a class="respuesta-no">No</a>
			</div>
		</dir>
	</div>
{% endblock %}