{% extends 'groway/gastos_registro.html' %}
{% load static %}
{% block content %}
	<div class="form-header">
		<h2>{{gasto.concepto_gasto}} {{gasto.numero_gasto}}</h2>
	</div>
	<div class="form-body">
		<div class="acciones-objeto row">
			<a class="acciones accion-eliminar">Eliminar</a>
			<a class="acciones accion-editar">Editar</a>
			<a class="acciones accion-pdf" href="{% url 'pdf_gasto' pk=gasto.pk %}" target="_blank">Generar PDF</a>
		</div>
		<div class="form-content-detalle-consecutivo">
			<div class="datos_gasto">
				<div class="gasto_info">
					<div class="img-cat">
						<label for="descrip_gastos">Fecha</label>
						<div class="descrip-cargos" id="descrip_gastos">      
							{{gasto.fecha_emision|date:"d F Y"}} {{gasto.fecha_emision|date:"f a"}}
						</div>
					</div>
					<div class="img-cat">
						<label for="concep_gastos">Concepto del Gasto</label>
						<div class="descrip-cargos" id="concep_gastos">
							{{gasto.concepto_gasto}}
						</div>
					</div>
					<div class="img-cat">
						<label for="valor_gastos">Valor del Gasto</label>
						<div class="descrip-cargos" id="valor_gastos">      
							{{gasto.valor_gasto}}
						</div>
					</div>
				</div>
			</div>
			{% if gasto.descripcion_detallada != "No Registrado" %}
			<div class="descripcion-observaciones">
				{% if gasto.descripcion_detallada != "No Registrado" %}
				<div class="datos-paob-detalle descripcion_detallada" style="margin-right: 10px; margin-left: 10px;">
					<label for="descripcion_detallada">Descripcion General</label>
					<div style="text-align: justify;" class="descripcion-content" id="descripcion_detallada">      
						{{gasto.descripcion_gasto|linebreaksbr}}
					</div>
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="mensaje-confirmacion-edicion">
		<h2><span class="glyphicon glyphicon-alert"></span> Cambios Dinámicos</h2>
		<p>Los cambios realizados en este registro de gasto se reflejarán en los <strong>Reportes de Crecimiento.</strong><br>
		¿Deseas Editarlo de todos modos?</p>
		<dir class="row botones-mensaje-edicion">
			<div class="respuesta-si">
				<a class="respuesta-si" href="{% url 'editar_gasto' pk=gasto.pk %}">Si</a>
			</div>
			<div class="respuesta-no">
				<a class="respuesta-no">No</a>
			</div>
		</dir>
	</div>
	<div class="mensaje-confirmacion-eliminacion">
		<h2><span class="glyphicon glyphicon-alert"></span> Eliminar</h2>
		<p>El elemento se eliminará de manera definitiva.<br>
		¿Seguro que deseas Eliminar este <strong>Registro de Gasto</strong>?</p>
		<dir class="row botones-mensaje-edicion">
			<div class="respuesta-si">
				<a class="respuesta-si" href="{% url 'eliminar_gasto' pk=gasto.pk %}">Si</a>
			</div>
			<div class="respuesta-no">
				<a class="respuesta-no">No</a>
			</div>
		</dir>
	</div>
{% endblock %}
